{% extends "_base.html" %}
{% load static %}

{% block title %}Activities{% endblock title %}

{% block content %}
    <div class="container" style="margin-top: 1rem">
<div>
  <div id="activitiesList">
    {% if activities %}
      {% include "activities/_partials/activities_list.html" with activities=activities %}
    {% else %}
      <p>No activities are available.</p>
    {% endif %}
  </div>
  <ul class="list-inline">
  {% for d, name in month_days %}
    <li class="list-inline-item">
      <a 
      {% if d == query_date %}
      class="btn btn-outline-dark"
      {% endif %}
      href="?date={{ d|date:'Y-m-d' }}">{{ name }}</a>
    </li>
  {% endfor %}
  </ul>
          
        {% include "activities/partial.html" %}
    </div>
{% endblock content %}

{% block after_footer %}
        <script defer src="{% static 'js/plotly-2.11.1.min.js' %}"></script>
        <script>
            let data = null, layout = null, config = null;
            // Variables are populated in `partial.html`
            document.addEventListener('DOMContentLoaded', function(evt) {
                  initPlot();
            if(data !== null) {
                Plotly.newPlot('pieChart', data, layout, config)
              }
            });
            document.addEventListener('htmx:afterRequest', function(evt) {
                setTimeout(function() {
                        initPlot();
                    if(data !== null) {
                        Plotly.newPlot('pieChart', data, layout, config)
                    }
                }, 500)
            });
        </script>
    {% if acted_activities|length > 1 %}
    {% endif %}
{% endblock after_footer %}
