{% extends "_base.html" %}
{% load static %}

{% block title %}Activities{% endblock title %}

{% block content %}
    <div class="container" style="margin-top: 1rem">
<div>
{% if activities %}
{% for a in activities %}
  <form
    style="margin: 0 .5em .5em 0; display: inline-block;"
    hx-post="{% url 'add_acted_activity' a.id %}"
    hx-target="#table-and-form">
    {% csrf_token %}
    <input type="hidden" name="query_date" value="{{ query_date|date:"Y-m-d" }}">
    <button type="submit"
    {% if a.activity_type == "good" %}
      class="btn-success btn"
      {% elif a.activity_type == "bad" %}
      class="btn-danger btn"
    {% else %}
      class="btn-secondary btn"
    {% endif %}
    >{{ a.name }}</button>
  </form>
{% endfor %}
{% else %}
<p>No activities are available.</p>
{% endif %}
<hr>
<ul class="list-inline">
{% for d, name in month_days %}
  <li class="list-inline-item">
    <a 
    {% if d == query_date %}
    class="btn btn-outline-dark"
    {% endif %}
    href="?date={{ d|date:'Y-m-d' }}">{{ name }}</a>
  </li>
{% endfor %}
</ul>
        
        {% include "activities/partial.html" %}
    </div>
{% endblock content %}


{% block after_footer %}
        <script defer src="{% static 'js/plotly-2.11.1.min.js' %}"></script>
        <script>
            let data = null, layout = null, config = null;
            // Variables are populated in `partial.html`
            document.addEventListener('DOMContentLoaded', function(evt) {
                  initPlot();
            if(data !== null) {
                Plotly.newPlot('pieChart', data, layout, config)
              }
            });
            document.addEventListener('htmx:afterRequest', function(evt) {
                console.log(data);
                setTimeout(function() {
                        initPlot();
                    if(data !== null) {
                        Plotly.newPlot('pieChart', data, layout, config)
                    }
                }, 500)
            });
        </script>
    {% if acted_activities|length > 1 %}
    {% endif %}
{% endblock after_footer %}
