<div id="table-and-form">
  {% if messages %}
      <div class="messages">
          {% for message in messages %}
              {% autoescape off %}
                  <div {% if message.tags %} class="alert alert-{{ message.tags }} " {% endif %}>
                    {{ message }}
                  </div>
              {% endautoescape %}
          {% endfor %}
      </div>
  {% endif %}

<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-12">
        <div id="pieChart" style="height: 300px; margin: 0 0 20px;"></div>
        <script>
        function initPlot() {
        data = [{
          type: "pie",
          values: {{values}},
          labels: {{labels|safe}},
          marker: {
            colors: [
            {% if "bad" in labels %}
              '#f8d7da',
            {% endif %}
            {% if "good" in labels %}
              '#d1e7dd',
            {% endif %}
            {% if "necessary" in labels %}
              '#e2e3e5',
            {% endif %}
            ]
          },
          {#textinfo: "label+percent",#}
          textinfo: "percent",
          insidetextorientation: "radial"
        }];

        layout = {
        height: 300,
        width: 300,
        margin: {"t": 10, "b": 10, "l": 10, "r": 10},
        showlegend: false
        };
        config = {
        staticPlot: true,
        displayModeBar: false,
        responsive: true
        }
        }
        </script>
    </div>
    <div class="col-md-6 col-sm-12">
      <table class="table">
        {% for n, v, t in totals %}
          <tr {% if t == "good" %}
            class="table-success"
            {% elif t == "bad" %}
            class="table-danger"
          {% else %}
            class="table-secondary"
          {% endif %}>
          <td>{{n}}</td><td>{{v}}</td></tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>

<table class="table">
  <tbody>
    {% for a in acted_activities %}
      <tr id="{{a.id}}" {% if a.activity.activity_type == "good" %}
        class="table-success"
        {% elif a.activity.activity_type == "bad" %}
        class="table-danger"
      {% else %}
        class="table-secondary"
      {% endif %}>
      <td class="align-middle text-nowrap position-relative">
        {% include "activities/_time.html" with acted=a %}
      </td>
      <td class="align-middle text-nowrap" style="padding-left: 0">
        {{ a.activity.name }} <span
        class="badge rounded-pill border border-secondary text-secondary">{{ a.duration_for_humans }}</span>
      </td>
      <td class="align-middle text-nowrap">
        {% if a.tag %}
          {% for t in a.tag.all %}
          <span class="badge bg-secondary">
            {{ t.name }}
          </span>
          {% endfor %}
        {% endif %}
      </td>
      <td class="align-middle" width="100%">
        {% if a.note %}
          <em class="text-secondary">{{a.note}}</em>
        {% endif %}
      </td>
      <td class="align-middle">
        <a href="{{a.get_absolute_url}}">edit</a>
      </td>
      <td class="align-middle">
        <form
          style="display: inline-block;"
          hx-post="{% url 'remove_acted_activity' a.id %}"
          hx-target="#table-and-form">
          {% csrf_token %}
          <button class="btn btn-danger" type="submit">&times;</button>
        </form>
      </td>
    </tr>
  {% endfor %}
</tbody>
</table>
</div>


</div>
